@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #a78bfa;
  background: linear-gradient(
    to right,
    #c5ddffcf,
    #fcff3716,
    #b4ffd71e,
    #e2ffe600,
    #8dffb944,
    #ffdafb98
  );
}
html {
  background: #e6fcf4;
}
.loud-text {
  @apply sm:text-6xl text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-violet-400 py-4;
}

.purpleButtons {
  @apply bg-gradient-to-r from-violet-400/50 p-3 m-2 to-purple-400/75 rounded-lg text-white hover:font-semibold hover:shadow-md;
}

.errorStyle {
  @apply text-center mx-auto text-sm max-w-7xl bg-gradient-to-r from-violet-300/50 p-3 m-2 to-purple-300/75 rounded-lg text-white;
}

.page-Layout {
  @apply flex flex-col mx-auto min-w-[60%] max-w-7xl my-auto;
}

.global-Layout {
  @apply min-h-screen flex flex-col p-2 m-5;
}

.inputStyle {
  @apply rounded w-full p-2.5 text-violet-400 text-base focus:outline-none focus:ring-2 focus:ring-emerald-400;
}

